@using STLTapReport.data
@model STLTapReport.data.user

@{
    ViewBag.Title = "SignUp";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Sign Up</h2>
<p>It's free to join! Build a profile with your favorite beers and beer styles and
share your own tap reports with other users.</p>
@using(Html.BeginForm("SignUp", "Account"))
    {
    @Html.ValidationSummary()
    <span>Name: </span> @Html.TextBoxFor(m => m.name) @Html.ValidationMessageFor(m => m.name) <br />
    <span>Email: </span> @Html.TextBoxFor(m => m.email) @Html.ValidationMessageFor(m => m.email) <br />
    <span>Password: </span> @Html.PasswordFor(m => m.password) @Html.ValidationMessageFor(m => m.password) <br />
    <input type="submit" value="Sign Up" />
    }
