@using STLTapReport.data;
@model STLTapReport.data.beer

@{
    ViewBag.Title = "BeerProfile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="bodyHead">
    <h1>Beer Profile</h1>
</div>
<div class="bodyWrapper">
    <div id="beerProfileImageWrapper">
        <div id="beerProfileImage">
            <a href="@Model.brewerylink"><img src="@Model.imageurl" alt="(No image available)" /></a>
        </div>
    </div>
    <div id="beerProfileContent">
        <h2 class="beerTitle">@Model.name</h2>
        <p>&#8594 @Model.description</p>
        <h3><span class="grayItal">ABV: </span>@Model.abv %</h3>
        <h3><span class ="grayItal">Brewery website link: </span><a href="@Model.brewerylink">@Model.name</a></h3>
        <h3><span class="grayItal">Style: </span>@Model.style.name</h3>

        @if (!(Session["logged_in"] == null) && ((bool)Session["logged_in"]))
        {
            
                using (Html.BeginForm("BeerProfile", "Home"))
                {
                @Html.HiddenFor(m => Model.beerID);
                <div class="submitDiv">
                    <input type="submit" value="Add to Favorites" />
                </div>
                }

        }
        else
        {
            <h2><a class="linkSpan" href="@Url.Action("SignUp", "Account")">Sign up</a><span class="grayItal"> to start choosing your favorite beers!</span></h2>
        }
    </div>
</div>
<div class="viewFooter">
    <h4>
        <a title="By edwin [CC-BY-2.0 (http://creativecommons.org/licenses/by/2.0)], via Wikimedia Commons" href="http://commons.wikimedia.org/wiki/File%3AFounders_Curmudgeon_(Old_Ale).jpg">
            <img width="45" alt="Founders Curmudgeon (Old Ale)" src="//upload.wikimedia.org/wikipedia/commons/thumb/5/5c/Founders_Curmudgeon_%28Old_Ale%29.jpg/256px-Founders_Curmudgeon_%28Old_Ale%29.jpg" />
        </a>
        Many beers (unfiltered or homebrewed beer in particular) contain a wide variety of minerals and nutrients, including Magnesium, Selenium and B-Vitamins. 
    </h4>
</div>