@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="../Content/StyleSheet1.css" rel="Stylesheet" type="text/css" />
</head>
<body>
    <div id="contentWrapper">
        <div id="headerTextWrap">
            <div id="headerText">
                <a href="@Url.Action("Welcome", "Home")"><h1>STL Tap Report</h1></a>
                <p>A guide to St. Louis area craft beer</p>
            </div>
        </div>


        <!-- Navigation Bar -->
        <div id="linkWrapper">
            <div id="loginBox">
                <div id="login">
                    @if (!(Session["logged_in"] == null) && ((bool)Session["logged_in"]))
                    {
                        <div class="loginImg">
                            <img height="50px" width="25px" src="http://openclipart.org/image/300px/svg_to_png/181588/Fwd:%20Pint%20of%20Beer%20for%20Beijing%20Cream.png" />
                        </div>
                        <div class="loginName">
                            <h4>
                                Welcome back, @Session["name"]!<br />
                                <a href="@Url.Action("Login", "Account")">[logout]</a>
                            </h4>
                        </div>
                    }
                    else
                    {
                        <div class="loginImg">
                            <img height="50px" width="25px" src="http://openclipart.org/image/300px/svg_to_png/181588/Fwd:%20Pint%20of%20Beer%20for%20Beijing%20Cream.png" />
                         </div>
                        <div class="loginName">
                            <h2><a href="@Url.Action("Login", "Account")">LOGIN</a></h2>
                        </div>
                    }
                </div>
            </div>
            <div class="navLink" id="welcomeLink">
                @if (!(Session["logged_in"] == null) && ((bool)Session["logged_in"]))
                {
                    <h3><a href="@Url.Action("UserPage", "Account")">My Account</a></h3>
                }
                else
                {
                    <h3><a href="@Url.Action("Welcome", "Home")">Welcome</a></h3>
                }
            </div>
            <div class="navLink" id="beerLink">
                <h3><a href="@Url.Action("Beers", "Home")">Beers</a></h3>
            </div>
            <div class="navLink" id="styleLink">
                <h3><a href="@Url.Action("Styles", "Home")">Styles</a></h3>
            </div>
            <div class="navLink" id="scoreLink">
                <h3><a href="@Url.Action("Scoreboard", "Home")">Scoreboard</a></h3>
            </div>
            <div id="beerSpotlight">
                <div id="beerSpotlightHead">
                    <h3>Beer Portal</h3>
                </div>
                <div id="beerSpotlightView">
                    @{Html.RenderAction("_FeatureBeer", "Home");}
                </div>
            </div>

        </div>

        <div id="mainContent">
            <!-- content management begins -->
            <div id="renderBody">
                @RenderBody()
            </div>
        </div>
    </div>
</body>
</html>
