@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="../Content/StyleSheet1.css" rel="Stylesheet" type="text/css" />
</head>
<body>
    <div id="contentWrapper">
        <div id="headerTextWrap">
            <div id="headerText">
                <a href="@Url.Action("Welcome", "Home")"><h1>STL Tap Report</h1></a>
                <p>A guide to St. Louis area craft beer</p>
            </div>
        </div>


        <!-- Navigation Bar -->
        <div id="linkWrapper">
            <div id="loginBox">
                <div id="login">
                    @if (!(Session["logged_in"] == null) && ((bool)Session["logged_in"]))
                    {
                        <div class="loginName">
                            <h4>Welcome back, @Session["name"]!<br /><a href="@Url.Action("Login", "Account")">[logout]</a></h4>
                        </div>
                    }
                    else
                    {
                        <div class="loginName">     
                            <h2><a href="@Url.Action("Login", "Account")">Login</a></h2>
                        </div>
                    }
                </div>
            </div>
            <div class="navLink" id="welcomeLink">
                @if (!(Session["logged_in"] == null) && ((bool)Session["logged_in"]))
                {
                    <h3><a href="@Url.Action("UserPage", "Account")">MY ACCOUNT</a></h3>
                }
                else
                {
                    <h3><a href="@Url.Action("Welcome", "Home")">WELCOME</a></h3>
                }
            </div>
            <div class="navLink">
                <h3><a href="@Url.Action("Beers", "Home")">BEERS</a></h3>
            </div>
            <div class="navLink">
                <h3><a href="@Url.Action("Styles", "Home")">STYLES</a></h3>
            </div>
            <div class="navLink">
                <h3><a href="@Url.Action("Scoreboard", "Home")">SCOREBOARD</a></h3>
            </div>
            <div id="beerSpotlight">
                <div id="beerSpotlightHead">
                    <h3>Beer Portal</h3>
                </div>
                <div id="beerSpotlightView">
                    @{Html.RenderAction("_FeatureBeer", "Home");}
                </div>
            </div>

        </div>

        <div id="mainContent">
            <!-- content management begins -->
            <div id="renderBody">
                @RenderBody()
            </div>
        </div>
    </div>
</body>
</html>
