@using STLTapReport.data;
@using STLTapReport.Models;
@model BeerAddModel

@{
    ViewBag.Title = "AddBeer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="bodyHead">
    <h1>AddBeer</h1> 
</div>
<h3 class="beerTitle">To add a beer to the database, fill out the following forms and submit.</h3>
<div class="signUpView">
    @using (Html.BeginForm("AddBeer", "Admin"))
    {
        <span class="validation">@Html.ValidationSummary()</span>
        <span>*Beer name: </span> @Html.TextBoxFor(m => m.name) @Html.ValidationMessageFor(m => m.name) <br />
        <span>*Description: </span> @Html.TextAreaFor(m => m.description) @Html.ValidationMessageFor(m => m.description) <br />
        <span>*ABV: </span> @Html.TextBoxFor(m => m.abv) @Html.ValidationMessageFor(m => m.abv) <br />
        <span>Brewery Homepage: </span> @Html.TextBoxFor(m => m.brewerylink) <br />
        <span>Image url: </span> @Html.TextBoxFor(m => m.imageurl) <br />
        <span>*Choose a Style: </span> @Html.DropDownListFor(m => m.styleID, Model.stylelist) <br />
        <br />
        <input type="submit" value="Add to Beers" />
    }
</div>

